{% extends 'base.html' %}
{% block content %}

<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
</form>

<style>

  h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .helptext {
      font-size: small;
  }

  form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  form button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  form ul {
      font-size: smaller;
  }

</style>
{% endblock %}