{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="form-wrapper">
    <h2>REPORT</h2>
    {% csrf_token %}
    <form action="{% url 'submit_crime_report' %}" method="post"> 
        <!-- add required for all fields -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required > <br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required > <br>
        
        <label for="date">Date:</label>
        <input type="datetime-local" id="date" name="date" > <br>
        
        <label for="location">Location:</label>
        <select id="location" name="location" required>
            <option value="">Select a location</option>
            {% for place in places %}
            <option value="{{ place.DISTRICT_BOROUGH }}">{{ place.DISTRICT_BOROUGH }}</option>
            {% endfor %}
        </select> <br>
        
        <label for="complaint">Complaint:</label>
        <textarea id="complaint" name="complaint" rows="4" ></textarea> <br>
        
        <input class='submit_button' type="submit"></input>
    </form>
</div>


<style>

    .form-wrapper {
        margin-top: 2em;
        padding: 5px;
        margin-bottom: 10px;
        overflow-y: scroll;
        max-height: 600px;
    }

    h2 {
        text-align: center;
        border-bottom: 2px solid black;
    }

    form {
        text-align: center;
        margin: 0 auto;
        max-width: 1000px;
    }

    label, input, textarea {
        padding: 5px;
    }

    label {
        color: #333;
        font-weight: 800;
        padding: 12px 12px 12px 0;
        display: inline-block;
        font-size: large;
        width: 200px;
    }

    input, textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        width: 800px;
        padding: 5px;
        margin-bottom: 10px;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer; 
        margin-top: 2%;
    }

</style>

{% endblock %}