{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="profile">
		{% if request.user.is_authenticated %}
			<h2 class="name">{{ request.user.name }}</h2>
			<p class="email">{{ request.user.email }}</p>
		{% else %}
			<!-- handle the case where the user is not logged in with sameple data-->
			<img class="profile-pic" src="" alt="Profile Picture">
			<h2 class="name">John Doe</h2>
			<p class="email">johndoe@email.com</p>
		{% endif %}

		<ul class="address-list dynamic-column-list">
			{% if request.user.location.all %}
				{% for location in request.user.location.all %}
					<li>{{ location }}</li>
				{% endfor %}
			{% else %}
				<li>You have no saved Location!</li>
			{% endif %}
		</ul>

		{% csrf_token %}
		<form class="add-address-form" action="{% url 'save_location' %}" method="post">

			<label for="new-address">Add New Address:</label>
			<select id="location" name="location">
				<option value="">Select a location</option>
				{% for place in places %}
				<option value="{{ place.DISTRICT_BOROUGH }}">{{ place.DISTRICT_BOROUGH }}</option>
				{% endfor %}
			</select>
			<button type="submit" id="add-button">Add</button>
		</form>

		<form class="logout-form" action="{% url 'logout' %}">
			<button type="submit">Log Out</button>
		</form>

	</div>

<style>
    * {
        font-size: large;
    }
    .profile {
		max-width: 800px;
		margin: auto;
		padding: 20px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.profile-pic {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: cover;
		margin-bottom: 20px;
	}

	.name {
		font-size: 24px;
		margin: 10px 0;
	}

	.address-list {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: left;
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.dynamic-column-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-columns: repeat(4, minmax(200px, 1fr));
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 20px;
	}

	.address-list li {
		margin: 5px;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 10px;
		margin: 5px;
		background-color: #f9f9f9;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	}

	.add-address-form label {
		display: block;
		margin-bottom: 10px;
	}

	.add-address-form input {
		flex: 1;
		padding: 5px;
		border-radius: 3px;
		border: 1px solid #ccc;
		margin-right: 10px;
	}

	.add-address-form button {
		padding: 5px 10px;
		background-color: #4CAF50;
		color: #fff;
		border: none;
		border-radius: 3px;
		cursor: pointer;
	}

	.add-address-form button:hover {
		background-color: #3e8e41;
	}

	.email {
		margin: 10px 0;
		padding-bottom: 20px;
	}

	.logout-form,
	.delete-account-form {
		display: inline-block;
		margin: 10px 0;
	}

	.logout-form button,
	.delete-account-form button {
		padding: 5px 10px;
		background-color: #f44336;
		color: #fff;
		border: none;
		border-radius: 3px;
		cursor: pointer;
	}

	.logout-form button:hover,
	.delete-account-form button:hover {
		background-color: #da190b;
	}

</style>
{% endblock %}